.filter-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .filter-modal-title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: left; /* Alinea el texto a la izquierda */
  }
  
  .filter-modal-body {
    padding: 20px;
  }
  
  .filter-modal-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .filter-modal {
    background-color: rgba(255, 255, 255, 0.9); /* Blanco semi-transparente */
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .filter-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  