/* Contenedor principal de configuración de grupo */
.group-config-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

/* Sección de botones de configuración de grupo */
.group-config-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Contenedor del código de invitación */
.invite-code-container {
  display: flex;
  align-items: center;
}

/* Estilo del campo de código de invitación */
.invite-code {
  width: 200px;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Tabla de miembros del grupo */
.members-table {
  width: 100%;
  border-collapse: collapse;
}

/* Estilos para las celdas y encabezados de la tabla */
.members-table th,
.members-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

/* Fondo del encabezado de la tabla */
.members-table th {
  background-color: #f4f4f4;
}

/* Estilo para los botones pequeños */
.btn-sm {
  font-size: 0.9em;
}
.group-config-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.group-config-actions button {
  width: 150px;
  font-size: 14px;
  padding: 10px;
}
.group-config-buttons .btn {
  font-size: 12px; /* Tamaño más pequeño */
  padding: 5px 10px; /* Menos espacio interno */
  width: auto; /* Ajuste automático al contenido */
  min-width: 100px; /* Tamaño mínimo */
}
.overlay {
  position: fixed; /* Fija la superposición a toda la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
  display: flex;
  justify-content: center;
  align-items: center; /* Centra el contenido */
  z-index: 9999; /* Asegura que esté encima de otros elementos */
}

.loading-message {
  color: white;
  font-size: 20px;
  text-align: center;
}

.loading-image {
  margin-top: 10px;
  width: 50px; /* Ajusta el tamaño del GIF */
}