.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.form-container {
  width: 340px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  color: #fff; /* Texto blanco */
}

p.text-center {
  color: #fff; /* Texto blanco para "INICIA SESIÓN CON TU CUENTA" */
}

.group-material-login {
  position: relative;
  margin-bottom: 20px;
}

.material-login-control {
  background-color: rgba(255, 255, 255, 0.1); /* Fondo transparente */
  border: none;
  border-bottom: 1px solid #ccc;
  color: #fff; /* Texto siempre blanco */
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
}

.material-login-control:focus,
.material-login-control:valid {
  outline: none;
  border-bottom: 1px solid #fff;
}

label {
  font-size: 14px;
  color: #fff; /* Color blanco permanente */
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 10px;
  transition: 0.2s ease all;
}

.material-login-control:focus ~ label,
.material-login-control:valid ~ label {
  top: -10px;
  font-size: 12px;
  color: #fff; /* Mantener blanco al interactuar */
}

.btn-login {
  background-color: transparent;
  color: #fff;
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-login:hover {
  background-color: rgba(199, 33, 33, 0.1);
}

.d-flex.justify-content-between button {
  margin-right: 5px; /* Espaciado entre botones */
}

.d-flex.justify-content-between button:last-child {
  margin-left: 5px; /* Espaciado entre botones */
}
/* Mantener label estático para Fecha de Nacimiento */
.material-login-control[type="date"] + label {
  top: -10px; /* Fijar posición arriba */
  font-size: 12px; /* Tamaño reducido */
  color: #ccc;
}

/* Hacer que Contacto sí interactúe */
.material-login-control:focus ~ label,
.material-login-control:valid ~ label {
  top: -10px;
  font-size: 12px;
  color: #fff;
}
/* Fecha con label estático */
.static-label {
  top: -10px;
  font-size: 12px;
  color: #ccc;
  pointer-events: none;
  position: absolute;
}